extends ../base.pug

include ../mixins/comment.pug

append stylesheets
	link(rel="stylesheet", href="/stylesheets/forms.css")
	link(rel="stylesheet", href="/stylesheets/blog/article_detail.css")

append scripts
	script(type="text/javascript", src="/javascripts/autosize.min.js", defer)
	script(type="text/javascript", src="/javascripts/balancetext.min.js", defer)
	script(type="text/javascript", src="/javascripts/forms.js", defer)
	script(type="text/javascript", src="/javascripts/blog/article_detail.js", defer)

block navtray_buttons
	img(src="/images/icons/comments.svg", onclick="document.getElementById('CommentSection').scrollIntoView();").mClickable
	if user && user.roles.includes("superuser")
		a(href=`${article.url}/edit`).mUnstyled: img(src="/images/icons/edit.svg")
		a(href=`${article.url}/delete`).mUnstyled: img(src="/images/icons/trash.svg")

block main 
	//- article
	#Article.Flexbox.mColumn.mStandardSpacing
		//- header
		#articleHeader
			h1.balance-text!= article.title
			h2!= article.subtitle

		.Separator

		//- content
		#articleContent!= article.renderContent()

	.Separator.mSection

	//- comments
	#CommentSection.Flexbox.mColumn.mStandardSpacing
		.Flexbox.mColumn.mMinimalSpacing
			div
				h2 Comments.
				if !user
					p.tGray 
						a(href=`/login?next=${url}`).tGray Log in
						span  or 
						a(href=`/register?next=${url}`).tGray sign up
						span= ` to ${article.comments.length ? "join" : "begin"} the conversation.` 

			if user
				//- new comment form
				form(action="../comment/create", method="post").Flexbox.mColumn.mMinimalSpacing
					//- comment article id
					input(type="hidden", name="article", value=article._id)

					//- comment author
					input(type="hidden", name="author", value=user._id)

					//- comment content field
					textarea(name="content", rows="3", required="true")
					.Flexbox.mSpaceBetween.mVerticallyCenter
						//- action dialog
						.tSmall.tGray.uSingleLineText= article.comments.length ? "Join the discussion." : "Start the discussion."
						
						button(type="submit") Comment

		if article.comments.length
			.Separator

			//- comment tree
			.Flexbox.mColumn.mCompactSpacing
				for comment in article.comments 
					+Comment(comment)