extends ../base.pug

append stylesheets
	link(rel="stylesheet", href="/stylesheets/forms.css")

append scripts
	script(type="text/javascript", src="/javascripts/forms.js", defer)
	script(type="text/javascript", src="/javascripts/autosize.min.js", defer)

block navtray_buttons 
	img(src="/images/icons/title.svg", onclick="document.getElementById('articleEditorFormTitleFieldLabel').scrollIntoView();").mClickable
	img(src="/images/icons/content.svg", onclick="document.getElementById('articleEditorFormContentFieldLabel').scrollIntoView();").mClickable
	img(src="/images/icons/publish.svg", onclick="document.getElementById('articleEditorFormSubmit').scrollIntoView();").mClickable

block main
	//- page header
	#Header
		h1 Editor.
		h3!= form_data === undefined ? "New article." : `Editing "${form_data.title}${ ["!", "?", "."].includes(form_data.title.slice(-1)) ? "" : "."}"`

	.Separator 

	//- editor form
	form#ArticleEditorForm(action="", method="post").Flexbox.mColumn.mCompactSpacing
		div
			label#articleEditorFormTitleFieldLabel(for="articleEditorFormTitleField") Title
			input#articleEditorFormTitleField(type="text", name="title", required="true", maxlength="40", autocomplete="off", value!=(form_data === undefined ? "" : form_data.title))
		
		div
			label(for="articleEditorFormSubtitleField") Subtitle
			input#articleEditorFormSubtitleField(type="text", name="subtitle", required="true", maxlength="40", autocomplete="off", value!=(form_data === undefined ? "" : form_data.subtitle))

		div
			label(for="articleEditorFormDescriptionField") Description
			textarea#articleEditorFormDescriptionField(name="description", required="true", rows="4", maxlength="300")!= (form_data === undefined ? "" : form_data.description)

		div
			label#articleEditorFormContentFieldLabel(for="articleEditorFormContentField") Content
			textarea#articleEditorFormContentField(name="content", rows="8", required="true")!= (form_data === undefined ? "" : form_data.content)
		
		#articleEditorFormSubmit.Flexbox.mRightAlign
			button(type="submit")= action