extends ../base

append stylesheets
	link(rel="stylesheet", href="/stylesheets/blog/article_list.css")

block static_variables
	- var header_heading = "Blog."
	- var header_subheading = "They're Only Words."
	- var header_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt inventore, facilis tempore laborum unde soluta omnis ea maxime qui amet vel molestiae consectetur magnam earum suscipit distinctio eum saepe?"

	- var toolbar_banner_content = "Explore."

block content
	.separator 

	#article_preview_list.comfortable-spacing.column.flexbox
		each article in articles
			a.unstyled(href=article.url): .article-preview
				.date
					- var date = new Date(article.updated_date);
					.day= date.getDate().toString().padStart(2, "0")
					.month= date.toLocaleString('default', { month: "short" })
					.year= date.getFullYear()

				.header
					.title: h3!= article.title
					.subtitle!= article.subtitle

				.description: p.truncate-lines(style="--lines:4")!= article.description

block toolbar_buttons 
	a.unstyled(href="/blog/create"): img.toolbar-button-icon(src="/images/icons/write.svg")