extends ../base.pug

append stylesheets
	link(rel="stylesheet", href="/stylesheets/blog/article_list.css")

append scripts 
	script(type="text/javascript", src="/javascripts/balancetext.min.js", defer)

block navtray_buttons
	if user && user.roles.includes("superuser")
		a(href="/blog/create").mUnstyled: img(src="/images/icons/write.svg")

block main 
	//- page header
	#Header
		h1 The Dispatch.
		h2 A blog of sorts.

	.Separator

	//- article previews list
	#ArticlePreviews.Flexbox.mColumn.mStandardSpacing
		for article in articles.docs
			a.ArticlePreview(href=article.url).mUnstyled.Flexbox
				//- preview date
				.date.Flexbox
					- var date = new Date(article.created_date);
					.day= date.getDate().toString().padStart(2, "0") 
					.month= date.toLocaleString('default', { month: "short" })
					.year= date.getFullYear()

				//- preview header
				.header.Flexbox.mColumn.mMinimalSpacing
					.title: h3!= article.title
					.subtitle: h4!= article.subtitle 
				
				//- preview description
				p.description.uTruncateLines(style="--lines:3")!= article.renderDescription()

	.Flexbox.mHorizontallyCenter: #Pagination.Flexbox.mVerticallyCenter
		//- invert page with respect to backend pagination
		- var page = articles.totalPages - (articles.page - 1)

		//- previous pages buttons
		a(href=`${url}?page=${articles.totalPages}`, class=`${articles.hasPrevPage ? "" : "sDisabled"}`).paginationButton.mUnstyled: img(src="/images/icons/double_chevron_left.svg")
		a(href=`${url}?page=${page + 1}`, class=`${articles.hasPrevPage ? "" : "sDisabled"}`).paginationButton.mUnstyled: img(src="/images/icons/chevron_left.svg")
		
		//- current page
		b#paginationCurrent= page

		//- next pages buttons
		a(href=`${url}?page=${page - 1}`, class=`${articles.hasNextPage ? "" : "sDisabled"}`).paginationButton.mUnstyled: img(src="/images/icons/chevron_right.svg")
		a(href=`${url}?page=1`, class=`${articles.hasNextPage ? "" : "sDisabled"}`).paginationButton.mUnstyled: img(src="/images/icons/double_chevron_right.svg")