extends ../base

append stylesheets
	link(rel="stylesheet", href="/stylesheets/blog/article_list.css")

block static_variables
	- var header_heading = "Blog."
	- var header_subheading = "They're Only Words."
	- var header_content = "I often spend my time not writing. Sometimes I do. Even more occasionally, I decide it's worth putting out; here's everything that falls into the latter category. Bad opinions, loose fiction, and confused arguments - you name it, you got it."

	- var toolbar_banner_content = "Explore."

block content
	.separator 

	#article_preview_list.comfortable-spacing.column.flexbox
		each article in articles
			a.unstyled(href=article.url): .article-preview
				.date
					- var date = new Date(article.created_date);
					.day= date.getDate().toString().padStart(2, "0")
					.month= date.toLocaleString('default', { month: "short" })
					.year= date.getFullYear()

				.header
					.title: h3!= article.title
					.subtitle!= article.subtitle

				.description: p.truncate-lines(style="--lines:4")!= article.description

block toolbar_buttons 
	a.unstyled.icon.button(href="/blog/create"): img.toolbar-button-icon(src="/images/icons/write.svg")